@using PBL3.ViewModels
@model JobViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Edit Job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Thêm các tùy chỉnh CSS của bạn ở đây nếu cần */
        body {
            background-color: #f8f9fa; /* Màu nền của trang là màu xám nhạt */
            color: #343a40; /* Màu văn bản là màu đen */
        }

        .container {
            margin-top: 50px;
        }

        .card {
            margin-bottom: 20px;
        }

        .card-header {
            background-color: black; /* Màu header của card là màu đen */
            color: #fff; /* Màu văn bản của header là màu trắng */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Edit Job
            </div>
            <div class="card-body">
                <form method="post">

                    <input type="hidden" asp-for="@Model.job.ID" />
                    <div class="row">
                        <div class="col-md-6">
                            
                            <div class="form-group">
                                <label for="description">ClientID:</label>
                                <textarea asp-for="@Model.job.ClientId" class="form-control" id="clientid" rows="1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input asp-for="@Model.job.Name" type="text" class="form-control" id="name" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea asp-for="@Model.job.Description" class="form-control" id="description" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="expectedDuration">Expected Duration:</label>
                                <input asp-for="@Model.job.ExpectedDuration" type="text" class="form-control" id="expectedDuration" required>
                            </div>
                            <div class="form-group">
                                <label for="paymentType">Payment Type:</label>
                                <select asp-for="@Model.job.PaymentType" class="form-control" id="paymentType" required>
                                    
                                    <option value="Hourly Rate">Hourly Rate</option>
                                    <option value="Fixed Price">Fixed Price</option>
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="paymentAmount">Payment Amount:</label>
                                <input asp-for="@Model.job.PaymentAmount" type="text" class="form-control" id="paymentAmount" required>
                            </div>
                            
                            <div class="form-group">
                                <label for="createTime">Create Time:</label>
                                <input asp-for="@Model.job.CreateTime" type="text" class="form-control" id="createTime" required>
                            </div>
                            <div class="form-group">
                                <label for="jobStatus">Job Status:</label><br>
                                <input type="radio" asp-for="@Model.job.JobStatus" value="Pending"> Pending<br>
                                <input type="radio" asp-for="@Model.job.JobStatus" value="In Progress"> In Progress<br>
                                <input type="radio" asp-for="@Model.job.JobStatus" value="Completed"> Completed<br>
                            </div>
                            <div class="form-group">
                                <label>Skills:</label><br />

                                @foreach (var skillName in Model.ListSkillNames)
                                {
                                    var isChecked = @Model.SelectedSkillName.Contains(skillName);
                                    <div>
                                       
                                        <input type="checkbox" name="SelectedSkillName" value="@skillName" @(isChecked ? "checked" : "") />
                                        <label>@skillName</label>
                                    </div>
                                }
                            </div>                           
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark">Save</button>
                    <a href="@Url.Action("ShowJob", "Admin")" class="btn btn-dark">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
