@model List<User>
<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Thêm các tùy chỉnh CSS của bạn ở đây nếu cần */
        body {
            background-color: #f8f9fa; /* Đặt màu nền của trang là màu xám nhạt */
            color: #343a40; /* Đặt màu văn bản là màu đen */
        }

        .table th, .table td {
            background-color: #fff; /* Đặt màu nền cho các ô bảng là màu trắng */
            color: #000; /* Đặt màu văn bản cho các ô bảng là màu đen */
        }

        .table th {
            border-color: #dee2e6; /* Đặt màu viền cho các cột là màu xám nhạt */
        }

        .btn-dark {
            background-color: #000; /* Đặt màu nền của nút là màu đen */
            color: #fff; /* Đặt màu văn bản của nút là màu trắng */
            border-color: #000; /* Đặt màu viền của nút là màu đen */
        }

            .btn-dark:hover {
                background-color: #333; /* Màu nền khi di chuột qua */
                border-color: #333; /* Màu viền khi di chuột qua */
            }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Users</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>isbanned</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.ID</td>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.IsBanned</td>
                        <td>
                            <a asp-controller="Admin" asp-action="UserDetail" asp-route-id="@user.ID" class="btn btn-dark">Detail</a>
                            <a asp-controller="Admin" asp-action="Edit" asp-route-id="@user.ID" class="btn btn-dark">Edit</a>
                            <a asp-controller="Admin" asp-action="Delete" asp-route-id="@user.ID" class="btn btn-dark">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Admin" asp-action="Create" class="btn btn-dark">Create New User</a>
    </div>
</body>
</html>
