@model List<BrowseJobView>
@using PBL3.ViewModels
@{
    ViewBag.Title = "Jobs";
    Layout = "headerlayout";

    var categories = Model.Select(job => new { CategoryName = job.job.Name, CategoryId = job.job.ID }).Distinct().ToList();
    var paymenttypes = Model.Select(u => new { PaymentName = u.job.PaymentType }).Distinct().ToList();
}

<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="~/css/BrowseProject.css">
<link rel="stylesheet" href="~/css/BrowseFreelancer.css">

<head>
    <title>BrowseProject</title>
    <meta charset="utf-8">
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    
   

    <div style="display: flex; margin-top: 10px;">
        <h1 id="browse">Browse</h1>
        <input type="text" placeholder="Search projects..." id="browsetextbox" style="font-size: 15px; width: 50%; height: 35px;">
        
    </div>

    <div style="display: flex; margin-bottom: 20px; ">
        <a class="freelancertag" asp-controller="User" asp-action="BrowseFreelancer" style="font-size: 23px; color: black; text-decoration: none;"><strong>Freelancer</strong></a>
        <a class="Projecttag" style="font-size: 23px; border-bottom: 5px solid black; padding: 0px 5px 0px 5px;"><strong>Project</strong></a>
    </div>

    <style>
        .freelancertag:hover {
            border-bottom: 5px solid black;
        }
    </style>

    <div style="display: flex;">
        <div id="filterbox">
            <h1 id="filtertext" style="font-size: 25px;">Filters</h1>
            <h1 id="skills" style="font-size: 20px;">Skills</h1>
            <input id="skilltextbox" cols="23" rows="1" style="font-size: 15px; width: 75%; height: 35px ;"></input>

            @foreach(var i in Model)
            {
                foreach(var j in i.skills)
                {
                    <div id="checkbox1" style="display: flex;">
                        <input type="checkbox" class="skillCheckbox" value="@j.SkillID" style="width: 20px; height: 20px;">
                        <div id="mad" style="font-size: 15px; margin-top:0px;">@j.Name</div>
                    </div>
                }
                break;
            }

            <h1 id="projecttype" style="font-size: 20px;">Project Type</h1>
            @foreach(var i in paymenttypes)
            {
                <div id="checkbox1" style="display: flex;">
                    <input type="checkbox" class="projectTypeCheckbox" value="@i.PaymentName" style="width: 20px; height: 20px;">
                    <div id="hr" style="font-size: 15px; margin-top:0px;">@i.PaymentName</div>
                </div>
            }

            <div >
                <h1 id="fixedprice" style="font-size: 20px;"> Price</h1>
                <h1 id="min1" style="font-size: 17px;">Min</h1>
                <input type="text" id="fpmin1" cols="23" rows="1" style="font-size: 15px; width: 75%; height: 35px;"></input>
                <h1 id="max1" style="font-size: 17px;">Max</h1>
                <input type="text" id="fpmax1" cols="23" rows="1" style="font-size: 15px; width: 75%; height: 35px;"></input>
            </div>

           
        </div>

        <div id="topresultbox">
            <div class="resultandsort">
                <h1 id="topresulttext" class="display-4" style="font-size: 25px;"> <strong>Top Results</strong></h1>
                <div class="sortjob">
                    <label for="sortOptions">Sort By:</label>
                    <select id="sortOptions" class="form-control">
                        <option value="">None</option>
                        <option value="lowestPrice">Lowest Price</option>
                        <option value="highestPrice">Highest Price</option>
                    </select>
                </div>
            </div>

            <div id="jobListContainer">
                @foreach (var job in Model)
                {
                    if (job.job.ClientId != ViewBag.CurrentUserId)
                    {
                        <div class="col-md-12 mb-4">
                            <a href="@Url.Action("JobDetail", "User", new { id = job.job.ID })" class="freelancer-card">
                                <div>
                                    <h5>@job.job.Name</h5>
                                    <p><strong>PaymentType:</strong> @job.job.PaymentType</p>
                                    <p><strong>PaymentAmount:</strong> @job.job.PaymentAmount$</p>
                                    <p><strong>Description:</strong> @job.job.Description</p>
                                    <div class="skills">
                                        @foreach (var i in job.SkillName)
                                        {
                                            <span>@i</span>
                                        }
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12 mb-4">
                            <a href="@Url.Action("JobDetail", "User", new { id = job.job.ID })" class="freelancer-card">
                                <div>
                                    <h5>@job.job.Name</h5>
                                    <p><strong>PaymentType:</strong> @job.job.PaymentType</p>
                                    <p><strong>PaymentAmount:</strong> @job.job.PaymentAmount$</p>
                                    <p><strong>Description:</strong> @job.job.Description</p>
                                    <div class="skills">
                                        @foreach (var i in job.SkillName)
                                        {
                                            <span>@i</span>
                                        }
                                    </div>
                                    <p><strong>This is ur Project</strong></p>
                                </div>
                            </a>
                        </div>
                        
                    }
                }
            </div>
           
        </div>
    </div>

    <script>
        $(document).ready(function () {
            function filterJobs(searchTerm, sortOrder, selectedProjectTypes, selectedSkills, minPrice, maxPrice) {
                console.log("Filtering jobs...", searchTerm, sortOrder, selectedProjectTypes, selectedSkills,minPrice, maxPrice);

                $.ajax({
                    url: '@Url.Action("FilterJob", "User")',
                    type: 'GET',
                    traditional: true,
                    data: {
                        searchTerm: searchTerm,
                        sortOrder: sortOrder,
                        selectedProjectTypes: selectedProjectTypes, 
                        selectedSkills: selectedSkills,
                        minPrice : minPrice,
                        maxPrice : maxPrice
                    },
                    success: function (result) {
                        $('#jobListContainer').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error:", error);
                    }
                });
            }

           

            function applyFilters() {
                var searchTerm = $('#browsetextbox').val();
                var sortOrder = $('#sortOptions').val();
                var minPrice = $('#fpmin1').val();
                var maxPrice = $('#fpmax1').val();
               

                var selectedProjectTypes = $('.projectTypeCheckbox:checked').map(function () {
                    return this.value;
                }).get();

                var selectedSkills = $('.skillCheckbox:checked').map(function () {
                    return parseInt(this.value);
                }).get();

                filterJobs(searchTerm, sortOrder, selectedProjectTypes, selectedSkills, minPrice, maxPrice);
            }

            $('#browsetextbox').on('keyup', function () {
                applyFilters();
            });

            $('#sortOptions').change(function () {
                applyFilters();
            });

            $('#fpmin1').on('keyup', function () {
                applyFilters();
            });

            $('#fpmax1').on('keyup', function () {
                applyFilters();
            });

            $('.projectTypeCheckbox').change(function () {
                applyFilters();
               
            });

            $('.skillCheckbox').change(function () {
                applyFilters();
                
            });
        });
    </script>
</body>
</html>
