@model List<BrowseJobView>
@using PBL3.ViewModels
@{
    ViewBag.Title = "Jobs";
    Layout = null;
    
    var categories = Model.Select(job => new { CategoryName = job.job.Name, CategoryId = job.job.ID }).Distinct().ToList();
}

    
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="~/css/BrowseProject.css">
<head>
    <title>BrowseProject</title>
    <meta charset="utf-8">
   
    <style>
        import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

        body {
            font-family: "Inria Sans", sans-serif;
            overflow-x: hidden;
            padding-bottom: 100px;
            margin: 0px;
        }

        body {
            font-family: "Inria Sans", sans-serif;
            overflow-x: hidden;
            margin: 0px;
        }

        .freelancer-card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 20px;
            background-color: #fff;
            display: flex;
            align-items: center;
            color: #000000; /* Màu đen */
            text-decoration: none; /* Loại bỏ gạch chân */
        }


            .freelancer-card img {
                border-radius: 50%;
                width: 100px;
                height: 100px;
                object-fit: cover;
                margin-right: 15px;
            }

            .freelancer-card h5 {
                font-size: 1.5em;
                margin: 0 0 10px;
            }

            .freelancer-card p {
                margin: 5px 0;
            }

            .freelancer-card .skills {
                display: flex;
                flex-wrap: wrap;
                text-decoration: none; /* Loại bỏ gạch chân */
            }

                .freelancer-card .skills span {
                    background-color: black;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 15px;
                    margin: 5px;
                }

        .rating {
            display: flex;
        }
    </style>
</head>

<body>
    <div class="menu"> </div>
    <div class="menulist">
        <div>
            <h1 id="WFL" class="menuText" style="font-style: italic;">
                WFL.com
            </h1>
            <h1 id="Browse" , class="menuText">
                Browse
            </h1>
            <h1 id="pAP" , class="menuText">
                Post a project
            </h1>
        </div>
        <div>
            <div id="noti" , class="menucpn">
            </div>
            <div id="folder" , class="menucpn">
            </div>
            <div id="profile" , class="menucpn">
            </div>
            <div id="profile_name" , class="menucpn">
                Username
            </div>
        </div>
    </div>
    <div style="display: flex; margin-top: 10px;">
        <h1 id="browse">Browse</h1>
        <textarea id="browsetextbox" cols="30" rows="1"
            style="font-size: 20px; width: 50%; height: 35px; border-radius: 20px; border: 2px solid rgba(0,0,0,0.3);"></textarea>
        <Button id="search">Search</Button>
    </div>
    <div style="display: flex;">
        <h3 id="freelancer" style="font-size: 23px;">Freelancer</h3>
        <h3 id="project" style="font-size: 23px;">Project</h3>
    </div>
    <div style="display: flex;">
        <div id="filterbox">
            <h1 id="filtertext" style="font-size: 25px;">Filters</h1>
            <h1 id="skills" style="font-size: 20px;">Skills</h1>
            <textarea id="skilltextbox" cols="23" rows="1"
                style="font-size: 20px; width: 75%; height: 35px; border-radius: 20px; border: 2px solid rgba(0,0,0,0.3);"></textarea>
            <div id="checkbox1" , style="display: flex;">
                <input type="checkbox" style="width: 20px; height: 20px;">
                <div id="wd" style="font-size: 18px;">Website Design</div>
            </div>
            <div id="checkbox2" , style="display: flex;">
                <input type="checkbox" style="width: 20px; height: 20px;">
                <div id="ld" style="font-size: 18px;">Logo Design</div>
            </div>
            <div id="checkbox3" , style="display: flex;">
                <input type="checkbox" style="width: 20px; height: 20px;">
                <div id="de" style="font-size: 18px;">Data Entry</div>
            </div>
            <div id="checkbox4" , style="display: flex;">
                <input type="checkbox" style="width: 20px; height: 20px;">
                <div id="mad" style="font-size: 18px;">Mobile App Development</div>
            </div>
            <h1 id="projecttype" style="font-size: 20px;">Project Type</h1>
            <div id="checkbox5" , style="display: flex;">
                <input type="checkbox" style="width: 20px; height: 20px;">
                <div id="hr" style="font-size: 18px;">Hourly Rate</div>
            </div>
            <div id="checkbox6" , style="display: flex;">
                <input type="checkbox" style="width: 20px; height: 20px;">
                <div id="fp" style="font-size: 18px;">Fixed Price</div>
            </div>
            <div>
                <h1 id="fixedprice" style="font-size: 20px;">Fixed Price</h1>
                <h1 id="min1" style="font-size: 17px;">Min</h1>
                <textarea id="fpmin1" cols="23" rows="1"
                style="font-size: 20px; width: 75%; height: 35px; border-radius: 20px; border: 2px solid rgba(0,0,0,0.3);"></textarea>
                <h1 id="max1" style="font-size: 17px;">Max</h1>
                <textarea id="fpmax1" cols="23" rows="1"
                style="font-size: 20px; width: 75%; height: 35px; border-radius: 20px; border: 2px solid rgba(0,0,0,0.3);"></textarea>
            </div>
            <div>
                <h1 id="hourlyrate" style="font-size: 20px;">Hourly Rate</h1>
                <h1 id="min2" style="font-size: 17px;">Min</h1>
                <textarea id="fpmin2" cols="23" rows="1"
                style="font-size: 20px; width: 75%; height: 35px; border-radius: 20px; border: 2px solid rgba(0,0,0,0.3);"></textarea>
                <h1 id="max2" style="font-size: 17px;">Max</h1>
                <textarea id="fpmax2" cols="23" rows="1"
                style="font-size: 20px; width: 75%; height: 35px; border-radius: 20px; border: 2px solid rgba(0,0,0,0.3);"></textarea>
            </div>
        </div>
        <div id="topresultbox">
            <h1 id="topresulttext" style="font-size: 25px;">Top Results</h1>
            @foreach (var job in Model)
            {
                <div class="col-md-12 mb-4">
                    <a href="@Url.Action("JobDetail", "User", new { id = job.job.ID })" class="freelancer-card">
                        
                        <div>
                            <h5>@job.job.Name</h5>
                            <p><strong>PaymentType:</strong> @job.job.PaymentType</p>
                            <p><strong>PaymentAmount:</strong> @job.job.PaymentAmount$</p>
                            <p><strong>Description:</strong> @job.job.Description</p>

                            <div class="skills">
                           @foreach(var i in job.SkillName)
                            {
                                

                                    <span>@i</span>

                               
                            }
                            </div>

                            
                                   
                                
                               
                        </div>
                    </a>
                </div>
            }



        </div>
    </div>
</body>

</html>