@using PBL3.ViewModels
@{
    Layout = "headerlayout";
}
@model List<BrowseFreelancerView>

<!DOCTYPE html>
<html>

<head>
    <title>BrowseFreelancer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/BrowseFreelancer.css">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    


    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>

<body>

    <form >
        <div style="display: flex; margin-top: 10px;">
            <h1 id="browse">Browse</h1>
            <input type="text" id="browsetextbox" placeholder="Search Freelancers" cols="30" rows="1" 
                   style="font-size: 15px; width: 50%; height: 35px;"></input>
           
        </div>
    </form>
   





    <div style="display: flex; margin-bottom: 20px;">
        <a class="freelancertag"  style="font-size: 23px; color: black; text-decoration: none; border-bottom: 5px solid black; padding: 0px 5px 0px 5px; "> <strong>Freelancer</strong></a>
        <a class="Projecttag" asp-controller="User" asp-action="BrowseJob" style="font-size: 23px; text-decoration: none; color: black;"><strong>Project</strong></a>
    </div>

    <style>
        .Projecttag:hover {
            border-bottom: 5px solid black;
        }
    </style>

    <div style="display: flex;">
        <div id="filterbox">
            <h1 id="filtertext" style="font-size: 25px;">Filters</h1>
            <h1 id="skills" style="font-size: 20px;">Skills</h1>
            <input id="skilltextbox" cols="23" rows="1"
                style="font-size: 15px; width: 75%; height: 35px; "></input>

          
                @foreach (var skill in Model.First().ListSkill)
                {
                    <div id="checkbox1" style="display: flex;">
                    <input type="checkbox" class="skillCheckbox" value="@skill.SkillID" style="width: 20px; height: 20px;">
                    <div id="mad" style="font-size: 15px;margin-top:0px">@skill.Name</div>
                    </div>
                }
            
           


            <form  class="form-inline">
                <h1 id="country" style="font-size: 15px;">Country</h1>
                <input type="text" id="countrytextbox" cols="23" rows="1"
                          style="font-size: 15px; width: 75%; height: 35px;"></input>
            </form>






            <div style="display: flex; margin-left: 50px;">
                <h2 id="textrating" style="font-size: 20px; margin-top:22px;">Rating</h2>
                <div class="rating">
                    <span class="star" data-rating="5">&#9733;</span>
                    <span class="star" data-rating="3">&#9733;</span>
                    <span class="star" data-rating="3">&#9733;</span>
                    <span class="star" data-rating="2">&#9733;</span>
                    <span class="star" data-rating="1">&#9733;</span>
                </div>
            </div>



        </div>



        <div id="topresultbox">
            <div class="resultandsort">
                <h1 id="topresulttext" style="font-size: 25px;">Top Results</h1>
                <div class="sortfreelancer">
                    <label for="sortOptions">Sort By:</label>
                    <select id="sortOptions" class="form-control" required>
                        <option value="">None</option>
                        <option value="lowestRating">Lowest Rating</option>
                        <option value="highestRating">Highest Rating</option>
                    </select>
                </div>
            </div>

            <div id="freelancerlistContainer">
                @foreach (var freelancer in Model)
                {
                    <div class="col-md-12 mb-4">
                        <a href="@Url.Action("FreelancerDetail", "User", new { id = freelancer.freelancer.FreelancerID })" class="freelancer-card">
                            <img src="~/image/cropped-1920-1080-1339443.png" />
                            <div>
                          
                                <h5>@freelancer.freelancer.User.Username</h5>
                           

                                <p><strong>Rating:</strong> @freelancer.freelancer.Rating</p>
                                <p><strong>Country:</strong> @freelancer.freelancer.Location</p>
                                <p><strong>Description:</strong> @freelancer.freelancer.Description</p>
                                <div class="skills">
                                    @foreach (var skill in freelancer.FreelancerSkill)
                                    {
                                        <span>@skill</span>
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                   
                }
            </div>
        </div>

    <script>
        $(document).ready(function () {
                function filterFreelancer(searchTerm, sortOrder, selectedSkills, sortCountry, rating) {
                    console.log("Filtering freelancers...", searchTerm, sortOrder, selectedSkills, sortCountry, rating);

                $.ajax({
                    url: '@Url.Action("FilterFreelancer", "User")',
                    type: 'GET',
                    traditional: true,
                    data: {
                        searchTerm: searchTerm,
                        sortOrder: sortOrder,
                        sortCountry: sortCountry,
                        selectedSkills: selectedSkills,
                        rating: rating
                        
                    },
                    success: function (result) {
                        $('#freelancerlistContainer').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error:", error);
                    }
                });
            }
            function applyFilters(rating) {
                var searchTerm = $('#browsetextbox').val();
                var sortOrder = $('#sortOptions').val();
                var sortCountry = $('#countrytextbox').val();
                var selectedSkills = $('.skillCheckbox:checked').map(function () {
                    return parseInt(this.value);
                }).get();

                    filterFreelancer(searchTerm, sortOrder, selectedSkills, sortCountry, rating);
            }

            $('#browsetextbox').on('keyup', function () {
                applyFilters();
            });
            $('#sortOptions').change(function() {
                applyFilters();
            });
            $('.skillCheckbox').change(function () {
                applyFilters();
            });
            $('#countrytextbox').on('keyup', function () {
                applyFilters();
            });
            $('.star').on('click', function () {
              var rating = $(this).data('rating');
                applyFilters(rating);
            });
        });

    </script>
</body>

</html>