@{
    Layout = "headerlayout";
}
@using PBL3.ViewModels
@model FreelancerDetailViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Freelancer Detail</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css//FreelancerDetail.css">
    <style>


    </style>
</head>
<body>
   
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"> @Model.freelancer.User.Username </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/image//cropped-1920-1080-1339443.png" class="img-fluid rounded-square" alt="Avatar">
                    </div>
                    <div class="col-md-8">
                        <p class="card-text"><strong>Email:</strong> @Model.freelancer.User.Email</p>
                        <p class="card-text"><strong>FirstName:</strong> @Model.freelancer.User.FirstName</p>
                        <p class="card-text"><strong>LastName:</strong> @Model.freelancer.User.LastName</p>
                        <p class="card-text"><strong>Rating:</strong> @Model.freelancer.Rating</p>
                        <p class="card-text"><strong>Country:</strong> @Model.freelancer.Location</p>
                        <p class="card-text"><strong>Description:</strong> @Model.freelancer.Description</p>
                        <p class="card-text"><strong>Skills:</strong></p>
                        <div class="skills">
                            @foreach (var skill in Model.Skills)
                            {
                                <span class="badge badge-dark">@skill</span>
                            }
                        </div>
                        <p class="card-text"><strong>CreateAt:</strong> @Model.freelancer.User.CreatedAt</p>


                        <form asp-controller="User" asp-action="AddorUpdateFavour" asp-route-id="@Model.freelancer.FreelancerID">
                            @if(Model.IsFavourite)
                            {
                                <span class="float-right"> <button class="btn btn-dark"> IsFavourited </button></span>
                            }
                            else

                            {
                                <span class="float-right"> <button class="btn btn-dark"> Favourite </button></span>
                            }

                            
                        </form>
                        
                    </div>
                </div>            
            </div>

        </div>
        <div class=" mt-3"></div>

        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Reviews</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    @foreach (var i in Model.reviews)
                    {
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="card-subtitle mb-2 text-muted">Rating: @i.Grade</h4>
                                        <h4> <strong>@i.Job.PaymentAmount$</strong> </h4>
                                    </div>
                                    <a href="@Url.Action("JobDetail", "User", new { id = i.JobID})" class="card-text">  <h5>@i.Job.Name</h5>  </a>

                        
                                    <p class="card-text"><strong></strong> @i.Comment</p>
                                    @foreach( var j in i.Job.RequiredSkills)
                                    {
                                        <span class="badge badge-dark"> @j.Skill.Name</span>
                                    }

                                    <p class="card-text"><strong></strong> @i.ReviewTime</p>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>