@model List<Job>
@if (Model.Count() == 0)
{
    <h1 id="display_null" style="font-size: 20px; text-align: center;
            margin-top: 15%;">
        Create a new project
    </h1>
    <form>
        <button asp-controller="Post" asp-action="PostAProject" id="postProject">
            <strong>Post a Project</strong>
        </button>
    </form>
}
else
{
    <table id="projectTable">
        <thead>
            <tr>
                <td>Job ID</td>
                <td>ClientID</td>
                <td>Name</td>
                <td>Description</td>
                <td>ExpectedDuration</td>
                <td>PaymentAmount</td>
                <td>PaymentType</td>
                <td>Status</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var job in Model)
            {

                <tr onclick="window.location= '@Url.Action("JobDetail", "User", new {id = job.ID})';" style="cursor: pointer;">
                    <td>@job.ID</td>
                    <td>@job.ClientId</td>
                    <td>@job.Name</td>
                    <td>@job.Description</td>
                    <td>@job.ExpectedDuration</td>
                    <td>@job.PaymentAmount</td>
                    <td>@job.PaymentType</td>
                    <td>@job.JobStatus</td>

                </tr>

            }
        </tbody>
    </table>
}